<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="MyConnectionString"
           connectionString="Data Source=DESKTOP-IVTKPI5;Initial Catalog=newHospital;Integrated Security=True"/>
  </connectionStrings>
</configuration>
