<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <connectionStrings>
    <add name="MyConnectionString" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Hospital;Integrated Security=True" />
    <add name="Hospital.Properties.Settings.HosConnectionString"
      connectionString="Data Source=HP-PC\SQLEXPRESS;Initial Catalog=Hos;Integrated Security=True"
      providerName="System.Data.SqlClient" />
    <add name="Hospital.Properties.Settings.HospitalConnectionString"
      connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=Hospital;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>
